.foo {
  position: center;
}

.foo {
  position: center;
  width: 300px;
}

.foo {
  position: absolute; /**/
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -61.5px;
  width: 300px; /**/
  height: 123px; /**/
}
