.foo {
  background: rgba(153, 85, 102, 0.3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c995566', endColorstr='#4c995566');
}

:root .foo {
  filter: none\9;
}

.foo {
  background: rgba(153, 85, 102, .9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5995566', endColorstr='#e5995566');
}

:root .foo {
  filter: none\9;
}
